/* ==== 1. animated seachbox ===== */
.search-form input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border-bottom:1px solid #c8c8c8;
    border-top:1px solid #c8c8c8;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
  
  
}

// #animated input[type=text]:focus {
//     width: 500px;
// }

.search-form{
    position: relative;

    .search-form_search-icon {
        position: absolute;
        padding-top: 14px;
        padding-left: 11px;
    }
    .search-form_filter-icon{
        position: absolute;
        right: 17px;
        bottom: 16px;
        cursor: pointer;
    }
}