.employee-info {
	

	width: 790px;
	height: 330px;
	border-radius: 5px;
	background: white;
}

.employee-info {
  display: flex;
  position: absolute;
	right: 500px;
	top: 380px;
}

.employee-info__info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // padding: 0 25px 0 60px;
  p{
    font-family: 'Inter';
    line-height: 24px;
    letter-spacing: 0.01em;
    font-style: normal;
  }
}
.info-box {
  display: flex;
  margin-left: -20px;
  margin-bottom: 15px;

	.info-box__avatar {
    width: 44px;
    height: 44px;
    padding-right: 10px;
	}
	.info-box__information {
	}
}

.info-box__name-surname {
  display: flex;
  height: 27px;
  
}
.info-box__name {
  padding-right: 5px;
}

.initials{
  font-weight: 600;
  font-size: 14px;
}
.info-box__occupation {
  font-size: 12px;
}

.common-info {
  display: flex;
  flex-direction: column;
  padding-left: 45px;

	.common-info__project-box {
    
	}
}
.common-box{
  display: flex;
  height: 25px;
  margin-bottom: 8px;
}

.project-box__project {
}
.definition{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #5D6A7E;
}

.definition-info{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #242D3E;
}
.project-box__project-name {
}
.common-info__location-box {
}
.project-box__location {
}
.project-box__location-name {
}
.common-info__occupation-box {
}
.project-box__occupation {
}
.project-box__occupation-name {
}
.employee-info__circuit {
  display: flex;
  justify-content: center;
  align-items:center;
}

.employee-info__minimaze-icon{
  position: absolute;
  right: 20px;
  top:20px;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
}